.flight-select-container {
  background: #ffffff;
  margin: auto;
  padding: 2% 5% 2% 5%;
}

.flight-list-wrapper {
  background-color: #fff;
}

.booking-header > .btn .btn-primary {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border:hsl(from color h s l);
}

.flight-select-button-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.flight-select-btn {
  flex: 1;
  background-color: #f0f0f0;
  padding: 2% 2% 2% 2%;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 0px 0px 0px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.flight-select-btn:not(:first-child) {
  border-radius: 0px 15px 0px 0px;
}

.flight-select-btn:hover {
  background-color: #d3d3d3;
}

.flight-select-btn.active {
  background-color: #c5e0fd;
  color: white;
  /* border-color: #e7f4fd; */
  box-shadow: 0px 4px 8px #f7dae8;
}

@media (max-width: 768px) {
  .flight-select-button-bar {
    display: flex;
  }
}
