.flight-info-card {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 90%;
    background-color: white;
    margin: 0% 5% 0% 5%;
    gap: 0.25rem;
}

.flight-info-card > .route {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}

.flight-info-card .airport {
    font-weight: bold;
}

.flight-info-card .arrow {
    font-size: 1.2em;
}

.flight-info-card .details {
    display: flex;
    gap: 2rem;
}

.flight-info-card .label {
    font-size: 0.8em;
    color: gray;
    display: block;
}