.flight-list {
    gap: 2rem;
    margin: 2% 2% 2% 2%;
}

.flight-list .flight-card {
    display: flex;
    align-items: center;
    border: 2px solid #a1cf67;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.flight-list .flight-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.flight-list .flight-details {
    flex: 2;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    width: 70%;
}

.flight-list .flight-info span {
    flex-grow: 1;
    margin: 0 1rem;
    font-size: 1rem;
    border-bottom: 2px dotted #a1cf67;
    text-align: center;
    color: #d36286;
    font-weight: 800;
}

.flight-list .location-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.5rem;
    border: 1px solid #a1cf67;
    border-radius: 8px;
    margin: 0;
}

.flight-list .location-time .time {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a1cf67;
}

.flight-list .location-time .location {
    font-size: 0.8rem;
    color: #555;
}

.flight-list .flight-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}


.flight-list .additional-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.flight-list .additional-info p {
    flex: 1;
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
}

.flight-list .prices {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 30%;
}

.flight-list .price {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.flight-list .price.economy {
    background-color: #a1cf67;
    color: #42611f;
    cursor: pointer;
}

.flight-list .price.economy:hover {
    background-color: #749b45;
}

.flight-list .price.business {
    cursor: pointer;
    background-color: #f7c6cc;
    color: #934960;
    text-wrap: wrap;
}


.flight-list .price.business:hover {
    background-color: #c38e94;
}

.flight-list .price p {
    margin: 0.2rem 0;
    font-size: 1rem;
}

@media (max-width: 768px) {
    .flight-list .flight-details {
        display: flex;
        flex-direction: column;
    }
}