.booking-info-container {
    background: #ffffff;
    margin: auto;
    padding: 2% 5% 2% 5%;
}

.booking-cards {
    height: auto;
    padding: 0% 5% 0% 5%;
}

.booking-cards .booking-card {
    display: flex;
    align-items: center;
    border: 2px solid #a1cf67;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 8rem;
}

.booking-cards .flight-details {
    flex: 2;
    display: flex;
    height: auto;
}

.booking-cards .flight-info span {
    flex-grow: 1;
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    border-bottom: 2px dotted #a1cf67;
    text-align: center;
    color: #d36286;
    font-weight: 800;
}

.booking-cards .location-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    padding: 0.5rem;
    border: 1px solid #a1cf67;
    border-radius: 8px;
    margin: 0;
}

.booking-cards .location-time .time {
    font-size: 1.5rem;
    font-weight: bold;
    color: #a1cf67;
}

.booking-cards .location-time .location {
    font-size: 0.8rem;
}

.booking-cards .flight-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    text-align: center;
}


.booking-cards .additional-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 2%;
}

.booking-cards .additional-info p {
    flex: 1;
    display: flex;
    font-size: 0.9rem;
    text-align: center;
    align-items: center;
}

.booking-cards .selected-seat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    height: 100%;
}

.booking-cards .selected-seat.economy {
    background-color: #89b751;
    color: white;
}

.booking-cards .selected-seat.business {
    background-color: #f5c2c8;
    color: white;
}


.booking-cards .selected-seat p {
    margin: 0.2rem 0;
    font-size: 1rem;
}

h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: #e4648c;
}

.total-price-section {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.total-price {
    font-size: 2rem;
    font-weight: bold;
    color: #4caf50;
}

.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.booking-info-wrapper {
    padding: 2% 2% 2% 2%;
}

@media (max-width: 1000px) {
    .booking-cards .flight-card {
        height: auto;
    }

    .booking-cards .flight-info {
        position: relative;
    }

    .booking-cards .flight-info span {
        display: none;
    }

    .booking-cards .location-time {
        width: 100%;
    }

    .booking-cards .additional-info {
        order: 2;
        margin: 1rem 0;
    }
}