@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #2c3855;
  --primary-color-dark: #435681;
  --text-dark: #333333;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 80rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}


a {
  text-decoration: none;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
}

img {
  width: 100%;
  display: flex;
}

/* .link a {
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
} */

/* .link a:hover {
  color: var(--primary-color);
} */

.header__container {
  padding: 1rem 1rem 5rem 1rem;
}

.header__image__container {
  position: relative;
  min-height: 500px;
  background-image: linear-gradient(
      to top,
      rgba(13, 24, 18, 0.9) 1%,
      rgba(63, 128, 82, 0.1) 50%
    ),
    url("/images/bg3.jpg");
  /* background-image:
  url("/images/bg3.jpg"); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2rem;
}

.header__content {
  max-width: 600px;
  padding: 5rem 2rem;
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 600;
  color: var(--white);
}

.header__content p {
  color: var(--extra-light);
}

.booking__container {
  flex-direction: column;
  position: absolute;
  bottom: -5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  background-color: white;
  /* background-color: rgba(255, 255, 255, 0.7); */
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.first_row {
  display: flex;
  justify-content: flex-start;
}
.radio_container {
  display: flex;
}

.booking__container > div {
  width: 90%;
}
.radio_item {
  display: flex;
}
.radio_point {
  margin-right: 0.3rem;
  display: flex;
  justify-content: flex-start;
}
.upper_case {
  text-transform: uppercase;
}

.radioText {
  width: 6rem;
  display: inline;
}
.booking__container form {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.booking__container .input__group {
  width: 100%;
  position: relative;
}

.booking__container label {
  margin-bottom: 2rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 1.2rem;
  font-weight: 500;
  color: #767268;
  pointer-events: none;
  transition: 0.3s;
}

.booking__container .input__group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--primary-color);
  color: var(--text-dark);
}

.booking__container .input__group input:focus ~ label,
.booking__container input.has-value ~ label {
  font-size: 0.8rem;
  top: 0;
  transform: translateY(0);
}

.booking__container .form__group p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-light);
}
.booking__container .button_container{
  display: flex;
  /* margin-left: auto; */
  justify-content: flex-end;
}



.booking__container .flight_search_btn {
  padding: 0.8rem;
  outline: none;
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  background-color: #6a9839;
  /* background-color: var(--primary-color); */
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.3s;
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}

.booking__container .flight_search_btn:hover {
  background-color: #49651c;
}

.header_third_row {
  display: flex;
  justify-content: space-between;
}


.header_third_row .header_sale_container {
  display: flex;
  /* justify-content: begin; */
}

.header_third_row .header_button_container {
  display: flex;
  justify-content: flex-end;
}

.header_third_row .header_sale_container input {
  margin-top: 1rem;
  max-height:3rem;
  border-radius: 0.5rem;
  border: 1px solid #767268;

}

.header_third_row .header_sale_container input:focus {
  border-color: #6a9839; /* Change to your desired focus color */
  /* outline: none; Remove default focus outline */
  outline: 0.1rem solid #6a9839;
}


/* --------------------DROPDOWN FOR CITY OPTIONS------------------ */
/* #origin .rbt-menu {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
} */
.rbt-menu.dropdown-menu.show  {
  max-height: 16rem !important;
  background-color: ;
  margin-left: 0.2rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  /* overflow: hidden !important; */
  z-index: 1000;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.rbt-menu.dropdown-menu.show::-webkit-scrollbar {
  width: 0.6rem;
}

.rbt-menu.dropdown-menu.show::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}
.rbt-menu.dropdown-menu.show::-webkit-scrollbar-thumb {
  background-color: #6a9839;
  border-radius: 4px;
  border: 2px solid #f0f0f0;
}

.rbt-menu.dropdown-menu.show::-webkit-scrollbar-thumb:hover {
  background-color: #527b2d;
}

#origin.dropdown-menu {
  z-index: 1000;

  padding: 1rem 1.5rem;
  cursor: pointer;
  overflow: hidden;

}
.dropdown-item {
  color: #6a9839;            /* Text color */

}


@media (width < 600px) {
  .header__container {
    padding-bottom: 25rem;
  }

  .booking__container {
    flex-direction: column;
    bottom: -25rem;
  }

  .booking__container form {
    grid-template-columns: repeat(1, 1fr);
  }

  .popular__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .client__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer__container {
    gap: 2rem;
  }
}
