.promo-card {
  position: relative;
    background-color: #f8f8f8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
.promo-image-container{
  width: 100%;
  height: 100%;

}

.promo-image-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.4) 20%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.1) 60%,
    rgba(0, 0, 0, 0) 80%
);
  pointer-events: none;
  transition: background 0.3s ease;

}

.promo-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
  .promo-card:hover {
    transform: scale(1.05);
  }

  .promote-layout {
    max-width: 78rem;
  }
  
  .promo-card-image {
    width: 100%;
    height: 100%;
    display: block;
  }
  
  .promo-card-content {
    position: absolute;
    
  }
  .promo-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .promo-button:hover {
    background-color: #0056b3;
  }
  

.promo-content-container{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}
.promo-title , .voucher-text{
  color: white;
}

.promo-subtitle {
  font-weight: 600;
  color: #daef8a;
}
