@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
a {
  font-family: "Funnel Sans", sans-serif;
  font-weight: 500;
}
.colorcode {
    color: #c7d5d6;
    color: #edefee;  
    color: #daef8a;
    color: #ffe7e3;
    color: #f5bcc3;  
    color: #e687a5;
    color: #fbebec;
    color: #fae1e1;
    color: #fae1e1;
    color: #fdd6d6;
    color: #fde7f3;
    color: #f7dae8;
    color: #cce1b1;
    color: #b3cb8e;
    color: #a1cf67;
    color: #76a049;
    color: #e7f4fd;
    color: #c5e0fd;
    color: #736660;
  }
