@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

#root,
html,
body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  position: relative;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.profile-content-container {
  /* margin: 5% 10% 5% 10%; */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  background: #fff;
  background-size: cover; /* Makes the background image cover the entire div */
  background-position: center; /* Centers the image within the div */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.profile-sidemenu {
  width: 20%;
  margin: 1rem 1rem 1rem 1rem;
  background: pink;
  border-radius: 10px 0 0 10px;
}
.profile-content {
  margin: 1rem 1rem 1rem 1rem;
  width: 80%;
}

.profile-info-header {
  background-color: antiquewhite;
}
.profile-sidemenu-list {
  display: block;
  padding: 24px;
  transform: scaleY(1);
  max-height: 800px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  transform-origin: top;
  list-style-type: none;
}

.profile-a {
  text-decoration: none;
  color: #626cd6;
  font-weight: 500;
}
.profile-a:hover {
  text-decoration: underline;
}

.profile-info-column {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}