@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

#root,
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.profile-container {
  position: relative;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
}

.profile-content-container {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  background: #f2f4f7;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.profile-sidemenu {
  width: 20%;
  margin: 1rem 1rem 1rem 1rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  background: #fff;
  border-radius: 0 10px 0 10px;
  height: auto; 
  display: flex; 
  flex-direction: column;
  height: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.profile-content {
  margin: 1rem 1rem 1rem 0rem;
  width: 80%;
  background: #fff;
  color: #344054;
  border-radius: 0px 10px 0px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.profile-info-header {
  background-color: #a1cf67;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 900;
  border-radius: 0 10px 0 0;
}
.profile-info {
  border-radius: 0 10px 0 0;
}
.profile-sidemenu-list {
  list-style-type: none;
  color: #fff;
  font-size: 15px;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.profile-sidemenu-item {
  background: #fff;
  font-size: 15px;
  transition: all 0.3s ease;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
.profile-sidemenu-item:not(:first-child) {
  border-top: 0.5px solid #f2f4f7;
}
.profile-a {
  text-decoration: none;
  color: #76a049;
  font-weight: 500;
}
.profile-a:hover {
  color: #b3cb8e;
  text-decoration: underline;
}
.profile-a:active {
  color: #344054;
  text-decoration: underline;
}

.profile-info-column {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.profile-info-item {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: flex;
}
.profile-info-item > input {
  position: relative;
  outline: none;
  color: #707070;
  border: 1px solid #edefee;
  border-radius: 6px;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
}

.profile-info-item > input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.profile-info-item > label {
  padding: 0rem 0.5rem 0rem 0rem;
}
.profile-info-edit {
  float: right;
  margin: 1rem 1rem 1rem 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #e687a5;
  border-radius: 5px 5px 5px 5px;
}

.profile-info-edit-button {
  margin: 0rem 0.5rem 0rem 0.5rem;
  background: transparent url('/icons/profile-info-edit-pwd.png') no-repeat center center;
  background-size: contain;
  border: none; 
  cursor: pointer; 
  transition: all 0.2s ease; 
  width: 1.5rem; 
  height: 1.5rem;
}
.profile-info-edit-button:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.profile-info-item > input {
  position: relative;
  outline: none;
  color: #344054;
  font-size: 1rem;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  background: #f9fafb;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  padding: 0rem 0.1rem 0.1rem 0.1rem;
}

.profile-info-item > input::placeholder {
  color: #9aa0a6;
  font-size: 0.95rem;
  font-weight: 300;
}

.profile-info-item > input:focus {
  border-color: #76a049;
  box-shadow: 0 0 5px rgba(118, 160, 73, 0.5);
  background: #fff;
}

.profile-info-item > label {
  font-weight: 600;
  color: #6b7280;
}

.profile-flights-header {
  background-color:  #a1cf67;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-weight: 900;
  border-radius: 0 10px 0 0;
}
.profile-flights-search {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.profile-flights-search-date > label {
  color: #333;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.profile-flights-search-date > input {
  position: relative;
  outline: none;
  color: #707070;
  border: 1px solid #edefee;
  border-radius: 6px;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

.profile-flights-search-date > input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.profile-flights-search-button {
  padding: 0.5rem; 
  background: transparent url('/icons/profile-flight-search.png') no-repeat center center;
  background-size: contain;
  border: none; 
  cursor: pointer; 
  transition: all 0.2s ease; 
  border-radius: 5px;
  width: 2.5rem; 
  height: 2.5rem;
}
.profile-flights-search-button:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}
.profile-flights-cancel-ticket-button {
  padding: 0.5rem; 
  background: transparent url('/icons/profile-flight-cancel.png') no-repeat center center;
  background-size: contain; 
  border: none; 
  cursor: pointer;
  transition: all 0.2s ease; 
  border-radius: 5px; 
  width: 2.5rem;
  height: 2.5rem; 
}

.profile-flights-cancel-ticket-button:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.profile-flights-list {
  margin: 1rem 1rem 1rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.9rem;
  overflow-x: auto

}

.profile-flights-list > .profile-flights-list-row:first-child {
  background-color: #cce1b1; 
  font-weight: 700; 
}
.profile-flights-list-row {
  display: grid;
  grid-template-columns: minmax(5rem, 2fr) minmax(5rem, 2fr) minmax(5rem, 2fr) minmax(5rem, 2fr) minmax(15rem, 6fr) minmax(7.5rem, 3fr) minmax(5rem, 2fr) minmax(2.5rem, 1fr);
  align-items: center;
  border-bottom: 1px solid #ccc;
  text-align: center;
  flex-shrink: 0;
}

.profile-flights-list-row:last-child {
  border-bottom: none;
}

.column {
  padding: 0.5rem;
  text-align: center;
}

.profile-flights-list-header .column {
  font-weight: bold;
}

.column.passenger-info,
.column.ticket-info {
  text-align: left;
  padding-left: 1rem;
}

.column.passenger-info {
  text-align: left; 
  padding-left: 1rem; 
  font-size: 0.9rem;
  line-height: 1.5;
}

.column.passenger-info p {
  margin: 0.25rem 0;
}

.column.passenger-info strong {
  color: #344054; 
  font-weight: 600;
}
.profile-flights-list-body{
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 100%;
}

.profile-flights-list-body .profile-flights-list-row:hover {
  background-color: #f5f5f5;
}
.profile-flights-column.passenger-info,
.profile-flights-column.ticket-info {
  text-align: left; 
  padding-left: 1rem;
  white-space: normal;
  word-wrap: break-word;
}

.profile-flights-column {
  padding: 0.5rem;
  word-wrap: break-word; 
  white-space: normal; 
  text-align: center;
}
@media (max-width: 1000px) {
  .profile-content-container {
    display: flex;
    flex-direction: column;
  }
  .profile-sidemenu {
    width: 98%;
    margin: 1% 1% 1% 1%;
    padding: 0 0 0 0;
  }
  .profile-sidemenu-item {
    border-radius: 0 0px 0 15px;
  }
  .profile-sidemenu-item:not(:first-child) {
    border: 0.5px solid #f2f4f7;
    border-radius: 0 15px 0 0px;
  }
  .profile-sidemenu-list {
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: row;
  }
  .profile-sidemenu-item {
    display: flex;
    justify-content: center;
    width: 50%;
  }
  .profile-sidemenu-item:not(:first-child) {
    border-left: 0.5px solid #c7d5d6;
  }
  .profile-a {
    text-align: center;
  }
  .profile-content {
    width: 98%;
    margin: 1% 1% 1% 1%;
  }
  .profile-info-column {
    display: flex;
    flex-direction: column;
  }
}